option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "bookstore.settings"
    PYTHONBUFFERED: "TRUE"
    SECRET_KEY: "ABC"   # Replace with a secure key later
    DEBUG: "False"
    ALLOWED_HOSTS: "django-bookstore-env.eba-j447ym2p.us-east-1.elasticbeanstalk.com"

  aws:elasticbeanstalk:container:python:
    WSGIPath: bookstore.wsgi:application

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

